<%- include("partials/header");-%>
<div class="notfound">
    <i class="fa-solid fa-circle-exclamation fa-4x"></i>
    <h1>NOT FOUND</h1>
    <p>We couldn't find any post with the searched title.</p>

</div>
<div style="text-align: center;margin-top: 5rem;">
    <button  class="btn btn-primary " type="submit" name="btn" > <a class="goback" href="/">Go Back</a></button>
</div>



<%- include("partials/footer");%>
